
.reveal .lang-python {
    font-size: 75%;
    line-height: 110%;
}

.reveal .small {
    font-size: 50%;
}

.reveal .regular {
    font-size: 80%;
}

.reveal .big {
    font-size: 150%;
    font-weight: bold;
}

.reveal section img {
  border: 0;
}

.reveal .red {
  color: red;
}

.reveal div.left, .reveal div.eventstorming {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
  font-size:75%;
}

.reveal div.right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
  font-size:75%;
}
